*{
    blueColor: #2F5597;
    whiteColor: #FCFCF7;
    greenColor: #305B4F;
    greyStrColor: #343A40;
    greyColor: #8F8F8F;
    greyWhiteColor: #D9D9D9;
    -fx-font-size: 1.20em;
    
}
#mainPane{
    -fx-background-color: greyWhiteColor;
}
.button{
    -fx-background-color: blueColor;
    -fx-font-weight: bold;
    -fx-background-radius: 0em;
    -fx-text-fill: whiteColor;
}