*{
    blueColor: #2F5597;
    whiteColor: #FCFCF7;
    greenColor: #305B4F;
    greyStrColor: #343A40;
    greyColor: #8F8F8F;
    greyWhiteColor: #D9D9D9;
    -fx-font-size: 1.20em;
    
}
#fields{
    -fx-font-size: 1.5em;
    -fx-background-radius: 0em;
}
#paneBg{
    -fx-background-color: greyWhiteColor;
}
#backButton{
    -fx-font-size: 1.20em;
    -fx-background-radius: 0em;
    -fx-background-color: whiteColor;
    -fx-font-weight: bold;
}
#choicePsto{
    -fx-background-radius: 0em;
}
#fillFields{
    -fx-text-fill: #be2d2d;
}
#registerBox{
    -fx-background-color: whiteColor;
    -fx-text-fill: greyStrColor; 
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 10, 10);

}
#registerButton{
    -fx-background-color: greyStrColor;
    -fx-text-fill: whiteColor; 
    -fx-background-radius: 0em;
}
#registerTop{
    -fx-background-color: blueColor;
}
#registerBot{
    -fx-background-color: greenColor;
}

#registerMain{
    -fx-background-color: greyWhiteColor;

    
}
